@tailwind base;
@tailwind components;
@tailwind utilities;


/* Match logo font */
@font-face {
  font-family: "Light";
  src: url("./fonts/libre-franklin-extra-light.ttf") format("truetype");
}

* {
  font-family: "Light";
}

.leaflet-container {
  height: 100%;
}

/* Workaround for disappearing editing toolbar */
.leaflet-draw-draw-circle {
  display: none !important;
}

.sr-only {
  display: none;
}